body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  text-align: center;
  padding: 20px 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  width: 80%;
  text-align: justify;
}